.document{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%;
  height: 500px;
  background-color: brown;
  margin-top: 100px;
  flex-direction: column;
}